body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background-image: url("resources/Website-final-animation.gif");
  background-size: cover;
  
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  color: #FFFFFF;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.parent-container{
  border-color: rgb(65, 65, 65);
  border-style: solid;
  border-radius: 5px;
  margin:auto;
  width: 30%;
  height: 50%;
  display: flex;
  justify-self: center;
  background-color: #000000AA;
}

.info-container{
  padding: 10px;
  background-color: none;
  border: none;
  width: 200px;
  height: 50%;
  
  
}

.name-banner{
  background-color: none;
  text-align: center;
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mint-container{
  padding: 10px;
  background-color: none;
  width: 200px;
  height: 50%;
  background-image: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  
 
  


  margin: auto;
  text-align: center;
  
}

.navbar{
  background-color: #303030;
}

.navbar a{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mintbtn{
  background-image: url("resources/buttonStock1.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: none;
  text-align: center;
  height: 40px;
  width: 140px;
  text-emphasis-color: black;
  background-attachment: fixed;
  
  color: #000000AA;
  
}

.walletContainer{
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.logo{
  position:center center;
  background-image: url(resources/logo_png.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: auto;
}
